#green{
    font-size: 16px;
color: green;
}

#blue{
    color: red;
}

#initial{
    color: initial;
    /* Takes the color of default value */
}

#inherit{
    color: inherit;
    /* Takes the color of parent */
}